<div class="container" style="margin-top: 50px;" >
    <div ng-controller='DataCtrl'>

        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</button>
        <br><br>
    <table class="table table-bordered" ng-init="loadTopApps()">
        <thead>
        <tr class="success" >
            <th><input type="checkbox"></th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in empdata">
            <td><input type="checkbox"></td>
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.email}}</td>
            <td>{{x.phone}}</td>
            <td>{{x.Address}}</td>

        </tr>

        </tbody>
    </table>
        </div>

</div>